<!-- This page need to be updated with a at least five options where a user
can select a title of an anime and rate it from 1-10. Hopefully this can be extended
to a dynamically expanding list which can go up to 10. Also potentially if a user does not enter
one input it can automatically detect and reject that input-->
{% macro option_field(value) %}
    <option value="{{ value }}">{{ value }}</option>
{% endmacro %}

{% extends "base.html" %}
{% block title %}Anime Rating Form{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Select Anime and Provide Ratings</h1>
    <div>
    <!-- Dropdown to select the number of ratings -->
    <label for="num_ratings">Number of Ratings (2-10)</label>
        <select id="num_ratings" onchange="generateRatingFields()">
            {{ option_field(2) }}
            {{ option_field(3) }}
            {{ option_field(4) }}
            {{ option_field(5) }}
            {{ option_field(6) }}
            {{ option_field(7) }}
            {{ option_field(8) }}
            {{ option_field(9) }}
            {{ option_field(10) }}
        </select>
    </div>
    <div id="rating_container">
        <!-- Rating fields will be dynamically generated here -->
    </div>
    <button onclick="submitRatings()">Submit Ratings</button>
    </div>
    <script>
        // passing flask data to JS
        const anime_list = {{ names | tojson }}
    </script>
{% endblock %}
