<!-- This page need to be updated with a at least five options where a user
can select a title of an anime and rate it from 1-10. Hopefully this can be extended
to a dynamically expanding list which can go up to 10. Also potentially if a user does not enter
one input it can automatically detect and reject that input-->



{% macro input_field(name, placeholder) %}
    <input type="text" name="{{ name }}" placeholder="{{ placeholder }}">
{% endmacro %}
{% macro label_field(for, text) %}
    <label for="{{ for }}">{{ text }}:</label>
{% endmacro %}
{% macro select_field(name, id) %}
    <select name="{{ name }}" id="{{ id }}" >
{% endmacro %}
<label for="rating_2">Rating for Monster (0-10):</label>
        <input type="number" name="rating_2" min="0" max="10" step="0.5" required>
        <br><br>


{% extends "base.html" %}
{% block title %}HOME{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Select Anime and Provide Ratings</h1>
    <form method="POST">
        <label for="anime">Choose Anime:</label>
        <select name="anime" id="anime">
            {% for name in names %}
                <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="ratings">Provide Ratings (1-10):</label>
        <input type="number" name="ratings" min="1" max="10" step="0.5" required>
        <br><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
{% endblock %}
